#wpbooster-speed-test
{
    overflow: auto;
}

#booster-stopped,
#booster-running
{
}

#booster-stopped
{
    background-image: url(img/notrunning.png);
}

#booster-running
{
    background-image: url(img/running.png);
}

#speed-test-start
{
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 200px;
    text-decoration: none;
    cursor: pointer;
}

#booster-stopped img,
#booster-running img
{
    border: none;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.btn-fire {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background-color:#fe1a00;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding: 8px 30px;
    text-decoration:none;
    text-shadow:1px 1px 0px #b23e35;
}

.btn-fire:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
    background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color:#ce0100;
}

.btn-fire:active {
    position:relative;
    top:1px;
}

#get-booster
{
    text-align: center;
}

#speed-test-admin #wpbooster-speed-test
{
    margin: 5em auto;
    border-collapse:separate;
    border-spacing:8px;
}

#speed-test-admin #wpbooster-speed-test th
{
    text-align: left;
    font-size: 16px;
    padding: 5px 0;
}

#speed-test-admin #wpbooster-speed-test td
{
    width: 250px;
    height: 250px;
    border: 10px solid #cccccc;
}

#speed-test-admin h2
{
    font-size: 32px;
    margin: 1em 0 1.5em 0;
    background-image: url(img/h2.png);
    background-repeat: no-repeat;
    height: 311px;
    text-indent: -9999px;
}

#speed-test-admin p
{
    font-size: 18px;
    color: #777777;
    line-height: 1.4em;
}

#speed-test-admin
{
    width: 800px;
}

#speed-test-admin #speed-test-start
{
    margin: 0 auto;
}

#speed-test-admin #get-booster
{
    display: none;
}

#speed-test-admin pre
{
    font-size: 16px;
    color: #999999;
}

